html {
    /* default font-size is 16px - this is set in the default browser stylesheet */ 
    font-size: 13px; 
    font-weight: 600; 
    line-height: 1.2; 
  }
  
  .row {
    --bs-gutter-x: 5px;
  }
  
  .bottomright {
       position: fixed;
       top: 0px;
       right: 0px;
  }
  
  .tokendiv {
       background-color: green;
       padding: 10px;
       margin: 5px;
  }
  
  /* Increase all font sizes on mobile */ 
  @media (max-width: 767px) { 
    html { 
      /* default is 1rem or 16px */ 
      /* font-size: 18px;  */ 
    } 
  }
  
  /*   danh cho loading */
  .loader {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 0, 0);
    opacity: 0.25;
  }
  
  .loader-wheel {
    animation: spin 1s infinite linear;
    border: 2px solid rgba(30, 30, 30, 0.5);
    border-left: 4px solid #fff;
    border-radius: 50%;
    height: 50px;
    margin-bottom: 10px;
    width: 50px;
  }
  
  .loader-text {
    color: rgb(229, 255, 0);
    font-family: Tahoma, arial, sans-serif;
  }
  
  .loader-text:after {
    content: 'Loading';
    animation: load 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes load {
    0% {
      content: 'Loading';
    }
    33% {
      content: 'Loading.';
    }
    67% {
      content: 'Loading..';
    }
    100% {
      content: 'Loading...';
    }
  }
  
  /*  Phần dùng cho response */
  .nostylelist {list-style-type: none}
  .red {  color: red;}
  .blue {  color: blue;}
  .green {  color: green;}
  
  .form-switch.form-switch-md {
    margin-top: 2px;
  }
  .form-switch-label {
    margin-top: 3px;
    margin-left: 5px;
  }
  
  .form-switch.form-switch-md .form-check-input {
    height: 1.5rem;
    width: calc(2rem + 0.75rem);
    border-radius: 3rem;
  }
  
  
  .big-checkbox {width: 1.5rem; height: 1.5rem; margin-right: 3px;}
  